@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-color: #236611;
    --secundary-color: #000000;
    --text-color: #000000;
    --background-color: #000000;
    --button-hover: #000000;
    --font-body: "Roboto Condensed sans", serif;
    --font-titulo: "Ancizar Sans", serif;
}

/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
}
/* corpo da pagina */
body{
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}

h3{
    margin-top: 25px;
}
p{
    margin-top: 20px;
}
img{
    max-width: 90%;
}
/* cabeçalho */
header{
    background: var(--background-color);
    color: white;
    text-align: center;
    padding: 22px;
}